.password-change-container{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 30%;
    border-radius: 0.375rem;
    z-index: 3;
}

.password-button{
    all: unset;
    align-self: center;
    background-color: black;
    color: var(--borderShadow);
    width: 50%;
    height: 13%;
    text-align: center;
    border-radius: 0.375rem;
}

.password-button:hover{
    background-color: var(--borderShadow);
    color: white;
}

.password-input{
    all: unset;
    background-color: black;
    color: var(--borderShadow);
    border-radius: 0.375rem;
    margin-left: 10px;
    cursor: text;
}


@media only screen and (max-width: 765px){

    .password-change-container{
        width: 65%;
        height: 40%;
        
    }
}


@media only screen and (max-height: 500px){

    .password-change-container{
        height: 70%;
    }
}