.password-change-container{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 30%;
    min-height: 260px;
    min-width: 370px;
    max-width: 390px;
    border-radius: 0.375rem;
    z-index: 4;
}

.password-input{
    all: unset;
    background-color: black;
    color: var(--borderShadow);
    border-radius: 0.375rem;
    margin-left: 10px;
    cursor: text;
    min-width: 270px;
}


@media only screen and (max-width: 765px){

    .password-change-container{
        width: 65%;
        height: 40%;
        min-width: 0;
        max-width: 340px;
    }

    .password-input{
        min-width: 0px;
       width: 85%; 
    }
}


@media only screen and (max-height: 500px){

    .password-change-container{
        height: 70%;
    }
}

@media only screen and (max-width: 350px){

     .password-change-container{
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;   
    }

    .password-input{
       font-size: 0.8rem;
       width: 85%; 
    }
}

@media only screen and (max-width: 180px){
    .password-buttons{
        flex-direction: column!important;
    }
}