.dashboard-message-container{
    background-color: var(--containerColour)!important;
    border-radius: 0.375rem; 
    /* flex: 0 1 0; */
    /* min-width: 350px; */
    display: flex;
    flex-direction: row;
}

.message-expand-bar{
    height: 100%;
    width: 25px;
    min-width: 25px;
    /* background-color: var(--borderShadow); */
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.375rem;
}

.text-rotate{
    transform: rotate(-90deg);
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.message-list-container{
    min-width: 0px;
}

.messages-sent{
    flex: 3;
    cursor: default;
    overflow-y: scroll;
}

.send-message{
    flex: 1;
    max-height: 7rem;
    min-height: 4rem;
}

.textarea-style{
    border-radius: 0.375rem;
    resize: none;
    background-color: rgba(0, 0, 0, 0)!important; 
}

.message-boxes{
    border: 0.1px solid var(--borderShadow)!important;
    color: rgb(255, 255, 255);
}

.message-box-delete{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../../assets/cross1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
