.messages-sent{
    flex: 3;
    cursor: default;
    overflow-y: scroll;
}

.send-message{
    flex: 1;
    max-height: 7rem;
    min-height: 4rem;
}

.textarea-style{
    border-radius: 0.375rem;
    resize: none;
    background-color: rgba(0, 0, 0, 0)!important; 
}

.message-boxes{
    border: 0.1px solid var(--borderShadow)!important;
    color: rgb(255, 255, 255);
}
