.movie-edit-form{
    background-color: black;
    position: fixed;
    z-index: 2;
    width: 80%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.edit-form-button{
    width: 30%;
    
}

.edit-form-button:hover{
    background-color: var(--borderShadow);
    color: white!important;
}

.map-container{
    width: 100%;
}

.record-container{
    width: 90%;
    cursor: pointer;
    
}

.record-container span:nth-child(1){
    min-width: 30px;
    max-width: 30px;
}

.record-container span:nth-child(2){
    min-width: 150px;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.record-container span:nth-child(3){
    min-width: 80px;
    max-width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.record-container span:nth-child(4){
    /* max-width: 400px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-field-item{
    background-color: white;
    color: black;
    border: 1px solid black;
    min-width: 20px;
    padding: 5px 10px;
}

.movie-edit-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: black;
}



@media only screen and (max-width: 765px){

    .movie-edit-form{
        width: 100%;
        font-size: 0.8rem;
    }

    .record-container{
        width: 98%;
    }
}