.movie-edit-form{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 85%;
    background-color: black;
    transform: translate(-50%, -50%); 
    z-index: 2;
    background-color: black;
    border-radius: 0.375rem;
    padding-bottom: 40px;
    overflow-y: scroll;
}
/* 
.edit-form-button{
    width: 30%;
    bottom: 10px;
} */

.edit-form-button:hover{
    background-color: var(--borderShadow);
    color: white!important;
}

.map-container{
    padding-top: 30px;
    width: 90%;
    /* height: 90%; */
    /* overflow-y: auto; */
    padding-bottom: 20px;
}

.record-container{
    position: relative;
    width: 90%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--borderShadow);
    border-radius: 0.375rem; 
    color: var(--borderShadow);
}

.record-container:hover{
    border: 1px solid rgba(231, 98, 167, 0.812)!important;
    box-shadow: 0px 0px 30px rgba(231, 98, 167, 0.812)!important;
    animation: listSelect 50ms ease-in-out forwards;
    
}

.movie-edit-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: black;
    z-index: 2;
}

.edit-details-textarea{
    border-radius: 0.375rem;
}

.button-min-height{
    min-height: 40px;
    min-width: 100px;
}


@keyframes listSelect {
    100% {
        transform: scale(1.03);
    }
}


@media only screen and (max-width: 765px){

    .movie-edit-form{
        width: 100%;
        font-size: 0.8rem;
    }

    .record-container{
        width: 98%;
    }
}

@media only screen and (max-height: 650px){

    /* .map-container{
        padding-top: 260px;
    } */

    .movie-edit-form{
        height: 95%;
    }
}


/*
.record-container:hover:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--borderShadow);
    border: 5px solid var(--borderShadow);
    animation: moveListBall 7s linear infinite;
}

@keyframes moveListBall {
    40% {
        left: 98.5%;
        top: -12%;
    }

    50% {
        left: 98.5%;
        top: 87%;
    }

    90% {
        left: -1.6%;
        top: 87%;
    }
}
*/