.user-nav-menu{
    position: absolute;
    background-color: black;
    border-radius: 0.375rem;
    width: 200px; 
    top: 50px;
    right: 0.2%;
    z-index: 3;
}

.user-options-button{
    all: unset;
    border-radius: 0.375rem;
    color: var(--borderShadow);
    text-align: center;
}

.user-options-button:hover{
    background-color: var(--borderShadow);
    color: white;
}

