.movie-card-container{
    cursor: pointer;
    width: 20%;
    /* height: 30%;   */
    min-height: 150px;
    min-width: 130px;
    max-width: 200px;
}

.movie-card{
    background-color: rgb(225, 0, 139);
    /* min-height: 130px;
    max-height: 130px;
    min-width: 200px;
    max-width: 200px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}

.movie-card-headings{
    height: 30%;
}

.movie-card-title{
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.movie-card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.movie-details-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 45%;
    background-color: black;
    z-index: 4;
}


@media only screen and (max-width: 765px){

    /* .movie-card{
        min-height: 100px;
        max-height: 100px;
        min-width: 100%;
        max-width: 100%;
    } */

    .movie-card-container{
        width: 31.5%;
        min-width: 100px;
    }

    .movie-details-container{
        width: 95%;
    }
}

@media only screen and (max-height: 550px){

    .movie-details-container{
        height: 75%;
    }

    .movie-card-container{
        width: 30%;
    }
}