.movie-card-container{
    cursor: pointer;
}

.movie-card{
    background-color: rgb(225, 0, 139)!important;
    min-height: 130px;
    max-height: 130px;
    min-width: 200px;
    max-width: 200px;
}

.movie-details-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 45%;
    background-color: black;

}


@media only screen and (max-width: 765px){

    .movie-card{
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
        max-width: 100%;
    }

    .movie-card-container{
        width: 30%;
    }
}