.movie-card-container{
    cursor: pointer;
    width: 20%;
    /* height: 30%;   */
    min-height: 150px;
    min-width: 130px;
    max-width: 200px;
}

.movie-card{
    background-color: rgb(225, 0, 139);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}

.movie-card:hover{
    z-index: 5;
    animation: increaseCard 0.3s ease-in-out forwards;
}

.movie-card-headings{
    height: 30%;
}

.movie-card-title{
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.movie-card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.movie-details-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 65%;
    background-color: black;
    z-index: 4;
}


@keyframes increaseCard {
    100% {
        transform: scale(1.15);
    }
}


@media only screen and (max-width: 1100px){

    .movie-details-container{
        width: 80%;
    }
}


@media only screen and (max-width: 765px){

    .movie-card-container{
        width: 31.5%;
        min-width: 100px;
    }

    .movie-details-container{
        width: 100%;
    }
}

@media only screen and (max-height: 720px){

    .movie-details-container{
        height: 93%;
        width: 70%;
    }

    .movie-card-container{
        width: 30%;
    }
}