.media-form-nav{
    display: flex;
    min-height: 60px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: black;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 20px 40px black;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 5px;
    margin-top: 10px;
}

.media-nav-element{
    background-color: black;
    color: var(--borderShadow);
    min-width: 0;
    max-width: 180px;
}

.media-nav-element::placeholder{
    color: var(--borderShadow);
}