video {
  /* position: absolute;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 25vh;
  bottom: 0px;
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%) */
   width: 100%;
  height: calc(100% - 60px);
  object-fit: contain;
  display: block;
}

.movie-player-container{
  background-color: black;
  position: fixed;
  width: 25%;
  height: auto;
  min-width: 135px;
  touch-action: none;
  z-index: 8;
  border-radius: .375rem;
}

.player-close-button{
  background-color: var(--containerColour) !important;
  /* height: 90%; */
  min-width: 40px;
  max-width: 50px;
  max-height: 35px;
  border-radius: 0.375rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-navbar{
  background-color: black;
  height: 60px;
  border-radius: 0.375rem 0.375rem 0 0;
  cursor: grab;
  overflow: hidden;
  gap: 10px;
}

.player-header{
  text-shadow: 0px 5px 5px var(--borderShadow)!important;
  color: var(--borderShadow);
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resize-player{
  position: absolute;
  top: 96%;
  left: 96%;
  height: 20px;
  width: 20px;
  background-color: blue;
}