video {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 25vh;
}

.movie-player-container{
  position: fixed;
  width: 25%;
  height: auto;
  min-width: 135px;
  touch-action: none;
  z-index: 2;
}

.player-close-button{
  background-color: var(--containerColour) !important;
  height: 90%;
  border-radius: 0.375rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-navbar{
  background-color: black;
  height: 30%;
  border-radius: 0.375rem 0.375rem 0 0;
  cursor: grab;
}