.login-container{
    background-color: var(--containerColour)!important;
}

.demo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff000;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.551);
    color: #fff000;
    font-weight: 600;
    content: "";
    cursor: pointer;
}

.demo-button::before{
    position: absolute;
    border-left: 2px solid #fff000;
    border-right: 2px solid #fff000;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(33, 205, 53, 0);
    animation: demoButtonAnimation 2s linear infinite;
    content: "";
}

@keyframes demoButtonAnimation{
    0%{
        transform: scale(1);
        opacity: 1;
        /* transform: rotate(0deg); */
    }
    
    100%{
        transform: scale(1.5);
        opacity: 0;
        /* transform: rotate(360deg); */
    }
     /* 0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    } */
}

.demo-button p{
    margin-top: 0;
    margin-bottom: 0;
}

.error-text{
    color: red;
    font-size: 0.8rem;
}

.variable-colour{
    color: var(--borderShadow)!important;
}

.cursor{
    cursor: pointer;
}

.input-field{
    background-color: rgba(0, 0, 0, 0)!important;
    color: var(--borderShadow)!important;
}

.input-field::placeholder{
    color: var(--borderShadow)!important;
}

.login-label{
    margin-bottom: -5px;
    font-size: 0.8rem;
}

.login-text{
    color: white;
}

.border-shadow{
    border: 0.1px solid var(--borderShadow)!important;
    box-shadow: 0 0px 20px var(--borderShadow);
}

.container-style{
    border-radius: 0.375rem;
}

.login-loading-animation{
    background-color: rgba(0, 0, 0, 0.674);
    
    border-radius: 0.375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


