.login-container{
    background-color: var(--containerColour)!important;
}

.error-text{
    color: red;
    font-size: 0.8rem;
}

.variable-colour{
    color: var(--borderShadow)!important;
}

.cursor{
    cursor: pointer;
}

.input-field{
    /* background-color: var(--backgroundColour)!important; */
    background-color: rgba(0, 0, 0, 0)!important;
    /* border: none!important; */
    color: var(--borderShadow)!important;
}

.input-field::placeholder{
    color: var(--borderShadow)!important;
}


.border-shadow{
    border: 0.1px solid var(--borderShadow)!important;
    box-shadow: 0 0px 20px var(--borderShadow);
}

.container-style{
    border-radius: 0.375rem;
}

.login-loading-animation{
    background-color: rgba(0, 0, 0, 0.674);
    
    border-radius: 0.375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


