.edit-form{
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 75%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 75%;
    overflow-y: scroll;
    height: 75%;
    flex-wrap: wrap;
    border-radius: 0.375rem;
    padding-bottom: 40px;
    /* box-shadow: inset 0 4px 10px black; */
}

.map-container-user{
    width: 90%;

}

.map-navbar{
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: black;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.record-container-user{
    width: 90%;
    cursor: pointer;
}

.edit-field-item-user{
    background-color: black;
    color: var(--borderShadow);
    min-width: 20px;
}

.user-options-menu{
    position: absolute;
    background-color: black;
    z-index: 3;
    min-width: 300px;
    min-height: 450px;
}




@media only screen and (max-width: 765px){

    .edit-form{
        width: 100%;
    }
}