.dashboard-movie-container{
    background-color: var(--containerColour)!important;
    border-radius: 0.375rem;
    /* overflow-y: scroll; */
    padding: 0%;
    flex: 1 1 0;
}

.movie-list-container{
    justify-content: start;
    align-content: flex-start;
    /* height: 100%; */
    overflow-y: scroll;
    flex-wrap: wrap;
    height: 100%;
}


/* @media only screen and (max-width: 765px){

    .movie-list-container{
        max-height: 450px;
    }
} */


@media only screen and (max-width: 1100px){

    .movie-list-container{
        justify-content: center;
        
    }
}