.main-dash-container{
    width: 100%;
    height: 100%;
    
    /* padding-bottom: 30px; */
    background: var(--mainContainer);
    color: white;
}

.logout-link{
    cursor: pointer;
    align-self: center;
}

.dashboard-nav{
    margin-top: 0%;
    width: 100%;
    height: 50px;
    min-height: 50px;
    background-color: black;
}

.dashboard-container{
    display: flex;
    flex-direction: row;
    max-height: 100%;
    min-height: 100%;
    padding-bottom: 70px!important;
}

.loading-animation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-nav-button{
    height: 35px;
    width: 35px; 
    background-image: url('../../assets/burger-bar.png');
    background-size: contain; /* make sure icon fits inside */
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--borderShadow);
    border: none;
    border-radius: 10px;;
}


@media only screen and (max-width: 765px){

    /* .dashboard-container{
        flex-direction: column;
        max-height: 100%;
    }

    .dashboard-message-container{
        width: 100%;
        max-height: 45%;

    } */

    .dashboard-movie-container{
        /* height: 60%;
        max-height: 60%; */
        min-width: 0px;
    }
}

@media only screen and (max-width: 400px){

     .dashboard-message-container{
        /* margin-bottom: 50px!important; */
        min-width: 0%;
    }
}