@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

*{
  --backgroundColour: rgb(60, 59, 59);
  --borderShadow: rgba(234, 28, 135, 0.812);
  --containerColour: rgba(15, 15, 15, 0.913);
  --mainContainer: rgba(0, 0, 0, 0.185);
  
}

.app-container{
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  /* background-color: var(--backgroundColour); */
  background-image: url(../src/assets/background_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
  
}

:root{
  font-family: "Ubuntu", sans-serif;
 
}

.button-style{
  background: black;
  color: var(--borderShadow);
  border-radius: 0.375rem;
  height: 35px;
  min-width: 70px;
  
}

.button-style:hover{
  background-color: var(--borderShadow);
  color: white;
  
  animation: increase 0.15s ease-in-out forwards;
}

.delete-cross{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('./assets/cross1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}


@keyframes increase {
  100% {
    transform: scale(1.1);
  }
}

