*{
  --backgroundColour: rgb(60, 59, 59);
  --borderShadow: rgba(234, 28, 135, 0.812);
  --containerColour: rgba(15, 15, 15, 0.913);
}

.app-container{
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColour);
  /* background-image: url(../src/assets/background_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

}