.edit-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.movie-record{
    position: relative;
    color: var(--borderShadow);
    /* overflow: hidden; */
    overflow: hidden;
    max-height: 500px;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

.edit-pre-form{
    height: 280px;
    background-color: black;
    border-radius: 0.375rem;
}

.edit-details-textarea{
    height: 230px;
    width: 100%;
    grid-column: 2;
}

.first-column{
    grid-column: 1;
}

.second-column{
    grid-column: 2;
}

.two-column-container{
    grid-column: 1 / span 2;
    justify-self: center; 
}

.movie-edit-details-element{
    width: 100%;
}

.image-edit{
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: center;
    max-width: 100%;
}

.image-viewport{
    cursor: default;
}

.image-viewport:hover .image-display{
    display: block;
}

.image-display{
    display: none;
    height: 200px;
    width: 200px;
    position: fixed;
}


@media only screen and (max-height: 600px){

    .movie-record{
        max-height: 350px;
    }
}